---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Nosotros - FusionSlider">
	<h1>Sobre Nosotros</h1>
	<p>Somos un equipo dedicado a crear experiencias web inmersivas. Nuestro objetivo es romper las barreras de la navegación estática tradicional.</p>
	<a href="/contact" class="btn">Contáctanos</a>
</Layout>
