---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contacto - FusionSlider">
	<h1>Contáctanos</h1>
	<p>¿Tienes alguna idea en mente? Hablemos. Estamos listos para llevar tu proyecto al siguiente nivel con diseños modernos y fluidos.</p>
	<a href="/" class="btn">Volver al Inicio</a>
</Layout>
